@model LoginAuthentication.Models.User

@{
    ViewData["Title"] = "Authenticate";
}

<h3>Login</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Authenticate">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div>
            @{
                if (ViewData.ContainsKey("error"))
                { <span class="text-danger">@ViewData["error"].ToString()</span> }
            else if (ViewData.ContainsKey("success"))
            { <span class="text-success">@ViewData["success"].ToString()</span> }
            }
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
